/*  mystyle.css */

@import url('https://fonts.googleapis.com/css?family=Oswald');

h1
{
    font-family: 'Oswald', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script|Oswald|Rammetto+One');
p
{
    font-family: 'Nanum Brush Script', cursive;
}
body {
    margin: 0;
    background: rgb(195, 236, 219);
}

#main {
    max-width: 600px;
    background: #fff;
    min-height: 500px;
    margin: auto;
    padding: 20px;
}

img {
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    #main {
        background: salmon;
    }
}